body{
  font-size: 20px;
  background-color: whitesmoke;
}

#container{
  margin : 200px auto;
  background-color: white;
  height: 325px;
  width : 875px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
 
}
#start{
  font-size: 1.5em;
  font-weight: bolder;
  word-break: break-all;
  width:100px;
  height:100px;
  border : 2px solid lightgrey;
  text-align: center;
  cursor: pointer;
  position: absolute;
  margin: 125px 390px;
  color : lightgrey;
}
#start:hover{
  border: 3px solid lightblue;
  color : darkblue;
}
#question{
  width:700px;
  height : 125px;
  position: absolute;
  right:0;
  top:0;
}
#question p{
  margin : 0;
  padding : 15px;
  font-size: 1.25em;
}

#choices{
  width : 580px;
  position: absolute;
  right : 0;
  top : 125px;
  padding : 10px
}
.choice{
  display: inline-block;
  width : 235px;
  text-align: center;
  border : 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding : 5px;
}
.choice:hover{
  border : 2px solid grey;
  font-weight: bold;
}
.red {
  order: solid 1px #720000;
  background-color: #c72a2a;
  background: -moz-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
  background: -webkit-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
  background: -o-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
  background: -ms-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e0e0e', endColorstr='#9e0e0e', GradientType=0);
  background: linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
  -webkit-box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
  -moz-box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
  box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bosld;
  color: #FFFFFF;
  padding: 10px 75px;
  margin: 0 20px;
  text-shadow: 2px 2px 1px #595959;
  filter: dropshadow(color=#595959, offx=1, offy=1);
  text-decoration: none;
}
#fail
{
  text-align: center;
  margin: auto;
  margin-bottom: 175px;
}
#failbutton
{
  text-align: center;
  vertical-align: bottom;
}
#warning
{
  color: darkblue;
  text-align: center;
}