<!DOCTYPE html>
<html lang="en">
<head>
    <title>LifeSource</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet" />
    <link href="static/assets/img/logo.png" rel="icon" />

</head>
  <body>
    {% include "navbar.html" %}
 
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Dashboard</h1>
      </div>
      <!-- End Page Title -->
       <section class="section dashboard">
        <style>
          .xyz, .abc{     
            display: table;
            margin-left: auto;
            color: blue;
          }
        
      </style>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
          <div class="card bg-light">
            <div class="card-body">
                <div class="blood">
                    <h2>A+ <i class="fas fa-tint" style="color: red"></i></h2>
                </div><br><br>
                <div>
                  {{a.unit}} 
                </div>                            
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>B+ <i class="fas fa-tint" style="color: red"></i></h2>
                    </div><br><br>
                    <div>
                      {{b.unit}}
                    </div>                            
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>O+ <i class="fas fa-tint" style="color: red"></i></h2>
                    </div><br><br>
                    <div>
                      {{o.unit}}
                    </div>                            
                </div>
              </div>
          </div>
          <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>AB+ <i class="fas fa-tint" style="color: red"></i></h2>
                    </div><br><br>
                    <div>
                      {{ab.unit}}
                    </div>                            
                </div>
              </div>
          </div>
      </div>
  
      <div class="row">
        <div class="col-sm-3">
          <div class="card bg-light">
            <div class="card-body">
                <div class="blood">
                    <h2>A-<i class="fas fa-tint" style="color: red"></i></h2>
                </div><br><br>
                <div>
                  {{a1.unit}}
                </div>                            
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>B- <i class="fas fa-tint" style="color: red"></i></h2>
                    </div><br><br>
                    <div>
                      {{b1.unit}}
                    </div>                            
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>O- <i class="fas fa-tint" style="color: red"></i></h2>
                    </div><br><br>
                    <div>
                      {{o1.unit}}
                    </div>                            
                </div>
              </div>
          </div>
          <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>AB- <i class="fas fa-tint" style="color: red"></i></h2>
                    </div><br><br>
                    <div>
                      {{ab1.unit}}
                    </div>                            
                </div>
              </div>
          </div>
      </div>
<hr>
    <div class="row">
      <div class="col">
        <div class="card bg-light">
          <div class="card-body">
              <div class="blood">
                  <i class="fas fa-users fa-1x abc"></i>
              </div><br>
              <div class="d-flex justify-content-center">
                  Total Donors <br>
                  <!-- {{totaldonors}} -->
                  0
              </div>                            
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card bg-light">
              <div class="card-body">
                  <div class="blood">
                      <i class="fas fa-tint fa-1x xyz"></i>
                  </div><br>
                  <div class="d-flex justify-content-center">
                      Total Blood Unit (in ml) <br>
                      {{totalbloodunit}}
                  </div>                            
              </div>
            </div>
        </div>
</div>
</section>
 
{% include "footer.html" %}
  </body>
</html>