{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Life Source Blood Bank</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/assets/img/logo.png" rel="icon" />
     
 
 
     <link
      href="static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
  

    <!-- Template Main CSS File -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/style.css' %}"
    />    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <style>
      .fa {
        margin-top: 5px;
        height: 22.5px;
      }
    </style>
  </head>

  <body>
  
 
      <main>
        <div class="container">
          <section
            class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
          >
            <div class="container">
              <div class="row justify-content-center">
                <div
                  class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center"
                >
                <div class="d-flex justify-content-center py-4">
                  <h2 class="d-flex align-items-center w-auto">
                    <img src="assets/img/logo.png" alt="" />
                    <span class="d-none d-lg-block" style="color: #D81B60;  font-weight: bold; font-family:Nunito, sans-serif;">LifeSource Admin Account</span>
                  </h2>
                </div>
                  <!-- End Logo -->
  
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="pt-2 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4" style="color: #D81B60;">
                          Login to Your Account
                        </h5>
                        <p class="text-center small">
                          Enter your Username & Password to login
                        </p>
                      </div>
  
                      <form action="" method="post"  class="row g-3 needs-validation" novalidate>
                         {% csrf_token %}
                        <div class="col-12 form-group">
                          <label for="yourUsername" class="form-label">Username</label> 
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fa fa-user"></i>
                              </div>
                            </div> 
                            <input class="form-control" type="text" placeholder="Enter your username" id="username" name="username" required/>
                          </div>
                        </div>
                              
                        <div class="col-12 form-group">
                          <label for="yourUsername" class="form-label">Password</label> 
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fa fa-key"></i>
                              </div>
                            </div> 
                            <input class="form-control" type="password" placeholder="Enter your password" id="password" name="pass" required/>
                          </div>
                        </div>

                        <div class="col-4 mt-4 mb-2">
                          <a class="btn btn-success w-100" href="{% url 'index'%}"> Home </a>
                        </div>
                        <div class="col-4 mt-4 mb-2">
                          <button class="btn btn-primary w-100" type="submit" value="Login">Login</button>
                        </div> 
                        <div class="col-4 mt-4 mb-2">
                          <button class="btn btn-secondary w-100" type="reset">Clear</button>
                        </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
      <!-- End #main -->

      <!-- Vendor JS Files -->
      <script src="static/assets/vendor/apexcharts/apexcharts.min.js"></script>
      <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="static/assets/vendor/chart.js/chart.umd.js"></script>
      <script src="static/assets/vendor/echarts/echarts.min.js"></script>
      <script src="static/assets/vendor/quill/quill.min.js"></script>
      <script src="static/assets/vendor/simple-datatables/simple-datatables.js"></script>
      <script src="static/assets/vendor/tinymce/tinymce.min.js"></script>
      <script src="static/assets/vendor/php-email-form/validate.js"></script>
    </body>
</html>
