<!DOCTYPE html>
<html lang="en">
<head>
    <title>LifeSource</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet" />
</head>
  <body>
    {% include "navbar.html" %}
    <main id="main" class="main">
        <div class="pagetitle">
          <h1>Donation History</h1>
        </div>
        <!-- End Page Title -->
         <section class="section dashboard">
                <!-- All donations -->
                <div class="col-12">
                  <div class="card recent-sales overflow-auto">  
                    <div class="card-body">
                      <h5 class="card-title">
                        Donation History List
                        <!-- <span>| Today</span> -->
                      </h5>
                      <table class="table table-borderless datatable">
                        <thead>
                          <tr>
                            <th scope="col">Donor Name</th>
                            <th scope="col">Blood Type</th>
                            <th scope="col">Event Name</th>
                            <th scope="col">Donation Date</th>
                            <th scope="col">Donation Time</th>
                          </tr>
                        </thead>
  
                         <tbody>
                          <tr>
                            <td>Brandon Jacob</td>
                            <td>
                              <a href="#" class="text-danger"> O+ </a></td>
                            <td>SK BloodCamp</td>
                            <td>2023-02-08</td>
                            <td>11:02</td>
                          </tr>
                          <tr>
                            <td>John Doe</td>
                            <td>
                              <a href="#" class="text-danger"> B+ </a></td>
                            <td>UofR BloodDrive</td>
                            <td>2023-01-07</td>
                            <td>11:27</td>
                          </tr>
                          <tr>
                            <td>Kelly Smith</td>
                            <td>
                              <a href="#" class="text-danger"> B- </a></td>
                            <td>Saist BloodDrive</td>
                            <td>2022-12-15</td>
                            <td>12:15</td>
                          </tr>
                          <tr>
                            <td>Sara Hamann</td>
                            <td>
                              <a href="#" class="text-danger"> O- </a></td>
                            <td>CJK BloodDonation</td>
                            <td>2022-12-12</td>
                            <td>13:32</td>
                          </tr>
                         </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  </section>
    {% include "footer.html" %}
  </body>
</html>