<!DOCTYPE html>
{% block content %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>LifeSource</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <!-- Favicons -->
    <link href="static/assets/img/lgo.png" rel="icon" />

    <!-- Vendor CSS Files -->
    <link
      href="static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a
          href="{% url 'admin_dashboard'%}"
          class="logo d-flex align-items-center"
        >
          <img src="static/assets/img/logo.png" alt="" />
          <span class="d-none d-lg-block">LifeSource</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item dropdown pe-3">
            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
              <i class="fas fa-user-circle" style="color: red"></i>
              <span class="d-none d-md-block dropdown-toggle ps-2"
                >Welcome {{user.username }}</span
              > </a
            ><!-- End Profile Iamge Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
            >
              <li class="dropdown-header">
                <h6>{{user.username }}</h6>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <i class="fas fa-sign-out-alt"></i>
                <a href="{% url 'logout' %}"><span>Sign Out</span></a>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/donor_bookappt">
              <i class="bi bi-grid"></i>
              <span>Book an appointment</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="bi bi-grid"></i>
              <span>Go to main page</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" href="/users-profile">
              <i class="bi bi-grid"></i>
              <span>Profile</span>
            </a>
          </li>
                  
            <li class="nav-item">
            <a class="nav-link" href="/donation-history">
              <i class="bi bi-grid"></i>
              <span>Previous Donations</span>
            </a>
          </li>
                  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="bi bi-grid"></i>
              <span>Log Out</span>
            </a>
          </li>
      </ul>
      <!-- End Dashboard Nav -->
    </aside>
    <!-- End Sidebar-->
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
{% endblock %}
