
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />

        <title>Life Source Blood Bank</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />

        <!-- Favicons -->
        <link href="static/assets/img/favicon.png" rel="icon" />
        <link
          href="static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon"
        />

        <!-- Google Fonts -->
        <link
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"
        />

        <!-- Vendor CSS Files -->
        <link
          href="static/assets/vendor/fontawesome-free/css/all.min.css"
          rel="stylesheet"
        />
        <link
          href="static/assets/vendor/animate.css/animate.min.css"
          rel="stylesheet"
        />
        <link href="static/assets/vendor/aos/aos.css" rel="stylesheet" />
        <link
          href="static/assets/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet"
        />
        <link
          href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          rel="stylesheet"
        />
        <link
          href="static/assets/vendor/boxicons/css/boxicons.min.css"
          rel="stylesheet"
        />
        <link
          href="static/assets/vendor/glightbox/css/glightbox.min.css"
          rel="stylesheet"
        />
        <link
          href="static/assets/vendor/swiper/swiper-bundle.min.css"
          rel="stylesheet"
        />

        <!-- Template Main CSS File -->
        <link href="static/assets/css/style2.css" rel="stylesheet" />
      </head>

      <body>
        <!-- ======= Top Bar ======= -->
        <div id="topbar" class="d-flex align-items-center fixed-top">
          <div
            class="container d-flex align-items-center justify-content-center justify-content-md-between"
          >
            <div class="align-items-center d-none d-md-flex">
              <i class="bi bi-clock"></i> Monday - Saturday, 8AM to 10PM
            </div>
            <div class="d-flex align-items-center">
              <i class="bi bi-phone"></i> Call us now +1 (306) 585-4111
            </div>
          </div>
        </div>

        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
          <div class="container d-flex align-items-center">
            <a href="index.html" class="logo me-auto"
            ><img src="static/assets/img/" alt=""
            /></a>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <h1 class="logo me-auto"><a href="index.html">Life Source Blood Bank</a></h1> -->

            <nav id="navbar" class="navbar order-last order-lg-0">
              <ul>
                <li><a class="nav-link scrollto" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>

                <li>
                  <a class="nav-link scrollto" href="#donations">Donations</a>
                </li>
                <li class="dropdown">
                  <a href="#"
                    ><span>Authentication</span>
                    <i class="bi bi-chevron-down"></i
                  ></a>
                  <ul>
 
                    <li><a href="{% url 'pages-register' %}">Donor Sign up</a></li>
                    <li><a href="{% url 'pages-login' %}">Donor Log in</a></li>
                    <li><a href="{% url 'admin-login' %}">Admin Log in</a></li>
                  </ul>
                </li>
                <li>
                  <a class="nav-link scrollto" href="#contact">Contact</a>
                </li>
              </ul>
             <!-- <i class="bi bi-list mobile-nav-toggle"></i> elimnated-->
            </nav>
            <!-- .navbar -->

            <!-- <a href="#appointment" class="appointment-btn scrollto"
          ><span class="d-none d-md-inline">Make an</span> Appointment</a
        >-->
          </div>
        </header>
        <!-- End Header -->

        <!-- ======= Hero Section ======= -->
        <section id="hero">
          <div
            id="heroCarousel"
            data-bs-interval="5000"
            class="carousel slide carousel-fade"
            data-bs-ride="carousel"
          >
            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">
              <!-- Slide 1 -->
              <div
                class="carousel-item active"
                style="background-image: url(static/assets/img/slide/S1.jpg)"
              >
                <div class="container">
                  <h2>Welcome to <span>Life Source Blood Bank</span></h2>
                  <p>
                    Life Source Blood Bank is website made by Hamza
                    Elshakankiri, Vishwa Gandhi, Sana Karedia, Jordan Seitz, and
                    Marseel Yadkoo. This is a our project for CS 476, taught by
                    <br />
                    Dr. Samira Sadaoui, at the University of Regina.
                  </p>
                  <a href="#about" class="btn-get-started scrollto"
                    >Read More</a
                  >
                </div>
              </div>

              <!-- Slide 2 -->
              <div
                class="carousel-item"
                style="background-image: url(static/assets/img/slide/S2.jpg)"
              >
                <div class="container">
                  <h2>Lorem Ipsum Dolor</h2>
                  <p>
                    Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea
                    ut et est quaerat sequi nihil ut aliquam. Occaecati alias
                    dolorem mollitia ut. Similique ea voluptatem. Esse
                    doloremque accusamus repellendus deleniti vel.
                  </p>
                  <a href="#about" class="btn-get-started scrollto"
                    >Read More</a
                  >
                </div>
              </div>

              <!-- Slide 3 -->
              <div
                class="carousel-item"
                style="background-image: url(static/assets/img/slide/S3.jpg)"
              >
                <div class="container">
                  <h2>Sequi ea ut et est quaerat</h2>
                  <p>
                    Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea
                    ut et est quaerat sequi nihil ut aliquam. Occaecati alias
                    dolorem mollitia ut. Similique ea voluptatem. Esse
                    doloremque accusamus repellendus deleniti vel.
                  </p>
                  <a href="#about" class="btn-get-started scrollto"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Hero -->

        <main id="main">
          <!-- ======= Featured Services Section ======= -->
          <section id="featured-services" class="featured-services">
            <div class="container" data-aos="fade-up">
              <div class="row">
                <div
                  class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
                >
                  <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="fas fa-heartbeat"></i></div>
                    <h4 class="title"><a href="">Book an Appointment</a></h4>
                    <p class="description">
                      Book an appointment that suits suits your schedule.
                    </p>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
                >
                  <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="fas fa-pills"></i></div>
                    <h4 class="title"><a href="">Track Donation History</a></h4>
                    <p class="description">
                      Track your donation to Life Source Blood Bank.
                    </p>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
                >
                  <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="fas fa-thermometer"></i></div>
                    <h4 class="title"><a href="">Ask Questions</a></h4>
                    <p class="description">
                      Find helpful information about the donation process.
                    </p>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
                >
                  <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="fas fa-dna"></i></div>
                    <h4 class="title"><a href="">Donation Events</a></h4>
                    <p class="description">
                      Find News donation events in Saskatchewan.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End Featured Services Section -->

          <!-- ======= Cta Section ======= -->
          <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">
              <div class="text-center">
                <h3>In an emergency? Need help now?</h3>
                <p>Please call 911, if you are expreincing an emergency.</p>
              </div>
            </div>
          </section>
          <!-- End Cta Section -->

          <!-- ======= About Us Section ======= -->
          <section id="about" class="about">
            <div class="container" data-aos="fade-up">
              <div class="section-title">
                <h2>About Us</h2>
                <p>
                  Life Source Blood Bank is website made by Hamza Elshakankiri,
                  Vishwa Gandhi, Sana Karedia, Jordan Seitz, and Marseel Yadkoo.
                  <br />This is a our project for CS 476, taught by Dr. Samira
                  Sadaoui, at the University of Regina.
                </p>
              </div>

              {% comment %} <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                  <img
                    src="static/assets/img/about.jpg"
                    class="img-fluid"
                    alt=""
                  /> {% endcomment %}

                </div class="row ">
                 <div class="col-lg-6 pt-4 pt-lg-0 w-50 mx-auto content" data-aos="fade-left">
                  <h3>Features of Life Source Blood Bank</h3>
                  <p class="fst-italic">
                    To better your donation exprience, our website has many great
                    features:
                  </p>
                  <ul>
                    <li>
                      <i class="bi bi-check-circle"></i> Easly understand
                      eligibility for donation.
                    </li>
                    <li>
                      <i class="bi bi-check-circle"></i> Easily find where to
                      donate in Saskatchewan.
                    </li>
                    <li>
                      <i class="bi bi-check-circle"></i> Easily keep track of
                      your past and future appointments.
                    </li>
                  </ul>
                  <p>All of this and more can be found on our website.</p>
                </div>
              </div>
            </div>
          </section>
          <!-- End About Us Section -->

          <!-- ======= Features Section ======= -->
          <section id="features" class="features">
            <div class="container" data-aos="fade-up">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
                  <div class="icon-box mt-5 mt-lg-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Helpful Tips</h4>
                    <p>
                      Find easy to follow tips which will help you complete your
                      donation.
                    </p>
                  </div>
                  <div class="icon-box mt-5">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Easy Process</h4>
                    <p>
                      Booking an appointment is easy on Life Source Blood Bank.
                    </p>
                  </div>
                  <div class="icon-box mt-5">
                    <i class="bx bx-images"></i>
                    <h4>Visual Representation</h4>
                    <p>
                      Is this your first donation expreince? Don't be worried.
                      Life Source Blood Bank will help you get familiar with the
                      donation process.
                    </p>
                  </div>
                  <div class="icon-box mt-5">
                    <i class="bx bx-shield"></i>
                    <h4>Secure Data</h4>
                    <p>
                      Our website encrypts all of the past words and sensitive
                      data of our users.
                    </p>
                  </div>
                </div>
                <div
                  class="image col-lg-6 order-1 order-lg-2"
                  style="
                    background-image: url('static/assets/img/features.jpg');
                  "
                  data-aos="zoom-in"
                ></div>
              </div>
            </div>
          </section>
          <!-- End Features Section -->

          <!-- ======= Donation Section ======= -->
          <section id="donations" class="donation">
            <div class="container" data-aos="fade-up">
              <div class="section-title">
                <h2>What you Can Donate</h2>
                <p>
                  Currently, you can only donate blood to Life Source Blood
                  Bank. However, we have plans to add other forms of donation as
                  well.
                </p>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div
                    class="box featured"
                    data-aos="fade-up"
                    data-aos-delay="100"
                  >
                    <h3>Blood</h3>

                    <ul>
                      <li>Used for severe injuries,</li>
                      <li>during critical surgeries,</li>
                      <li>in cancer treatments,</li>
                      <li>and carried by first responders.</li>
                    </ul>
                    <div class="btn-wrap">
                      <a href="{% url 'pages-login' %}" class="btn-buy">Sign to Book an Appointment</a
                      >
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                  <div
                    class="box featured"
                    data-aos="fade-up"
                    data-aos-delay="200"
                  >
                    <h3>Plasma</h3>

                    <ul>
                      <li>Used for severe trauma,</li>
                      <li>shocks or borns,</li>
                      <li>in cancer treatments,</li>
                      <li>and for immune system disorders.</li>
                    </ul>
                    <div class="btn-wrap">
                      <a href="{% url 'pages-login' %}" class="btn-buy">Sign to Book an Appointment</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                  <div
                    class="box featured"
                    data-aos="fade-up"
                    data-aos-delay="300"
                  >
                    <h3>Stem Cells</h3>

                    <ul>
                      <li>Used for replacing</li>
                      <li>unhealthy stem cells,</li>
                      <li>conditions of bone marrow,</li>
                      <li>and for boosting immune system.</li>
                    </ul>
                    <div class="btn-wrap">
                      <a href="#" class="btn-buy">Coming Soon</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                  <div
                    class="box featured"
                    data-aos="fade-up"
                    data-aos-delay="400"
                  >
                    <h3>Organ Donation</h3>

                    <ul>
                      <li>Used for organ transplants</li>
                      <li>during critical surgeries,</li>
                      <li>in livesaving situations,</li>
                      <li>that require an organ donation.</li>
                    </ul>
                    <div class="btn-wrap">
                      <a href="#" class="btn-buy">Coming Soon</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End donation Section -->

          <!-- ======= Frequently Asked Questioins Section ======= -->
          <section id="faq" class="faq section-bg">
            <div class="container" data-aos="fade-up">
              <div class="section-title">
                <h2>Frequently Asked Questions</h2>
                <p>Find answers to frequently asked questions.</p>
              </div>

              <ul class="faq-list">
                <li>
                  <div
                    data-bs-toggle="collapse"
                    class="collapsed question"
                    href="#faq1"
                  >
                    How do I donate?
                    <i class="bi bi-chevron-down icon-show"></i
                    ><i class="bi bi-chevron-up icon-close"></i>
                  </div>
                  <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      Log-in to book an available appointments. If you do not
                      have an account, please create an account, by signing-up.
                    </p>
                  </div>
                </li>

                <li>
                  <div
                    data-bs-toggle="collapse"
                    href="#faq2"
                    class="collapsed question"
                  >
                    How do I know if I am eligible to donate?
                    <i class="bi bi-chevron-down icon-show"></i
                    ><i class="bi bi-chevron-up icon-close"></i>
                  </div>
                  <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      During the process of booking an appointment, donors will
                      fill out a questionare. This questionare will determine if
                      you are eligible to donate. We ask users to provide
                      accurate information. Once you arrive at the donation
                      appointment, you will be asked to fill out offical medical
                      forms.
                    </p>
                  </div>
                </li>

                <li>
                  <div
                    data-bs-toggle="collapse"
                    href="#faq3"
                    class="collapsed question"
                  >
                    I don't know my blood type; can I still donate?
                    <i class="bi bi-chevron-down icon-show"></i
                    ><i class="bi bi-chevron-up icon-close"></i>
                  </div>
                  <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      Yes, simply select that you do not know your blood type,
                      during the sign-up process. Once you complete your first
                      donation, you will be informed of what type your blood is.
                      Then, you can add your blood type by editting your
                      profile.
                    </p>
                  </div>
                </li>

                <li>
                  <div
                    data-bs-toggle="collapse"
                    href="#faq4"
                    class="collapsed question"
                  >
                    Is there a minimum age for donation?
                    <i class="bi bi-chevron-down icon-show"></i
                    ><i class="bi bi-chevron-up icon-close"></i>
                  </div>
                  <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p>Yes, the minimum age for donation in Canada is 17.</p>
                  </div>
                </li>

                <li>
                  <div
                    data-bs-toggle="collapse"
                    href="#faq5"
                    class="collapsed question"
                  >
                    What is the minimum time between blood donations?
                    <i class="bi bi-chevron-down icon-show"></i
                    ><i class="bi bi-chevron-up icon-close"></i>
                  </div>
                  <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      56 days for males.
                      <br />
                      84 days for females.
                    </p>
                  </div>
                </li>

                <li>
                  <div
                    data-bs-toggle="collapse"
                    href="#faq6"
                    class="collapsed question"
                  >
                    What is the best way to contact Life Source Blood Bank?
                    <i class="bi bi-chevron-down icon-show"></i
                    ><i class="bi bi-chevron-up icon-close"></i>
                  </div>
                  <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      The best way to contact Life Source Blood Bank is through
                      our email (LifeSourceBloodBankadm@gmail.com). Other
                      contact information listed on our website, such as address
                      and phone number, are for the University of Regina, and
                      not for our website directly.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </section>
          <!-- End Frequently Asked Questioins Section -->

          <!-- ======= Contact Section ======= -->
          <section id="contact" class="contact">
            <div class="container">
              <div class="section-title">
                <h2>Contact</h2>
                <p>Life Source Blood Bank</p>
              </div>
            </div>

            <div>
              <iframe
                style="border: 0; width: 100%; height: 350px"
                src=" 
            https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.3764449420714!2d-104.59231486544911!3d50.41545753210974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x531ea090798fa7ab%3A0x47e1c32f9f870c24!2sUniversity%20of%20Regina!5e0!3m2!1sen!2sca!4v1675348128733!5m2!1sen!2sca"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>Our Address</h3>
                    <a href='https://www.google.com/maps/place/University+of+Regina/@50.4154542,-104.5900189,17z/data=!3m1!4b1!4m6!3m5!1s0x531ea090798fa7ab:0x47e1c32f9f870c24!8m2!3d50.4154542!4d-104.5878302!16zL20vMDI4MGd4
                    ' target="_blank">3737 Wascana Pkwy, Regina, SK S4S 0A2</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box mt-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Us</h3>
                    <a href='mailto:LifeSourceBloodBankadm@gmail.com' target="_blank">LifeSourceBloodBankadm@gmail.com</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box mt-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Us</h3>
                    <a href=""> +1 (306)-585-4111 </a>
                  </div>
                </div>
              </div>
            </div>
            <!--  <div class="container">
          <div class="row mt-5">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>Our Address</h3>
                    <p>3737 Wascana Pkwy, Regina, SK S4S 0A2</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box mt-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Us</h3>
                    <p>LifeSourceBloodBankadm@gmail.com</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box mt-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Us</h3>
                    <p>+1 (306) 585-4111</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      required=""
                    />
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      required=""
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required=""
                  />
                </div>
                <div class="form-group mt-3">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="7"
                    placeholder="Message"
                    required=""
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div> -->
          </section>
          <!-- End Contact Section -->
        </main>
        <!-- End #main -->

        <!-- ======= Footer ======= -->
       
        <!-- <footer id="footer">
          <div class="footer-top">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div class="footer-info">
                    <h3>Life Source Blood Bank</h3>
                    <p>
                      3737 Wascana Pkwy <br />
                      Regina, SK S4S 0A2<br /><br />
                      <strong>Phone:</strong> +1 (306) 585-4111<br />
                      <strong>Email:</strong>
                      LifeSourceBloodBankadm@gmail.com<br />
                    </p>
                  </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li>
                      <i class="bx bx-chevron-right"></i>
                      <a href="#hero">Home</a>
                    </li>
                    <li>
                      <i class="bx bx-chevron-right"></i>
                      <a href="#about">About us</a>
                    </li>
                    <li>
                      <i class="bx bx-chevron-right"></i>
                      <a href="#donations">Donations</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>  -->
       
        <footer id="footer">
          <div class="container">
            <div class="copyright" style="color: #555555">
              &copy; Copyright <strong><span>LifeSource</span></strong
              >. All Rights Reserved
            </div>
          </div>
        </footer>
        <!-- End Footer -->

        <!-- Vendor JS Files -->
        <script src="static/assets/vendor/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="static/assets/vendor/vendor/aos/aos.js"></script>
        <script src="static/assets/vendor/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="static/assets/vendor/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="static/assets/vendor/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="static/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="static/assets/js/main.js"></script>
      </body>
    </html>
  </body>
</html>
