{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>LifeSource Donor Sign Up Page</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <!-- Favicons -->
    <link href="{% static 'donor/img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'donor/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <!-- Vendor CSS Files -->
    <link
      href="{% static 'donor/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'donor/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'donor/vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'donor/vendor/quill/quill.snow.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'donor/vendor/quill/quill.bubble.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'donor/vendor/remixicon/remixicon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'donor/vendor/simple-datatables/style.css' %}"
      rel="stylesheet"
    />
    <!-- Template Main CSS File -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'donor/css/style.css' %}"
    />
    <style>
      .messages {
          list-style: none;
          padding: 0;
          margin: 0 0 1em 0;
        }

      .messages li {
          padding: 10px;
          margin-bottom: 5px;
          border-radius: 3px;
        }

      .messages.error li {
          background-color: #f2dede;
          color: #a94442;
          border-color: #ebccd1;
}
      #error-message {
        color: red;
        font-weight: bold;
      }
    </style>
    <!-- JS Handler file-->
    <script src="{% static 'donor/js/register.js' %}"></script>
  </head>
  <body>
    <main>
      <div class="container">
        <section
          class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
        >
          <div class="container">
            <div class="row justify-content-center">
              <div
                class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
              >
                <div class="d-flex justify-content-center py-4">
                  <a
                    href=" "
                    class="logo d-flex align-items-center w-auto"
                  >
                    <img src="{% static 'donor/img/logo.png' %}" alt="" />
                    <span class="d-none d-lg-block"
                      >LifeSource Donor Account</span
                    >
                  </a>
                </div>
                <!-- End Logo -->
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="pt-4 pb-2">
                      <h5 class="card-title text-center pb-0 fs-4">
                        Create an Account
                      </h5>
                      <p class="text-center small">
                        Enter your personal details to create account
                      </p>
                    </div>
                    <form
                      id="signup-form"
                      class="row g-3 needs-validation"
                      method="POST"                      
                    >
                      {% csrf_token %}

                      <div class="col-12">
                        <label for="yourName" class="form-label" font-weight="bold">First Name</label>
                        {% render_field donorForm.donor_first_name|attr:'required:true' id="firstName" class="form-control"  %}
                        <div id="invalidfirstName" class="hidden red"></div>
                      </div>

                      <div class="col-12">
                      <label for="yourName" class="form-label">Last Name</label>
                      {% render_field donorForm.donor_last_name|attr:'required:true' id="lastName" class="form-control"  %}
                      <div id="invalidlastName" class="hidden red"></div>
                    </div>
                      <div class="col-12">
                        <label for="yourName" class="form-label"
                          >Postal Code (Enter in this format: A1B 2C3 )</label
                        >
                        {% render_field donorForm.donor_postal|attr:'required:true' id="pc" placeholder="A1B 2C3" class="form-control"    %}
                        <div id="invalidpc" class="hidden red"></div>
                      </div>

                      <div class="col-12">
                        <label for="yourEmail" class="form-label"
                          >Email Address</label>

                        {% render_field userForm.email|attr:'required:true' id="yourEmail" class="form-control"   %}
                        <div id="invalidEmail" class="hidden red"></div>
                      </div>

                      <div class="col-12">
                        <label for="yourEmail" class="form-label"
                          >Username (Use a unique username; email address can serve as username) </label>
                        {% render_field userForm.username|attr:'required:true' id="yourUsername" class="form-control"   %}
                        
                        <div id="invalidUsername" class="hidden red"></div>
                        <!--ul>
                          <li>Your username has to be unique.</li>
                          <li>For simplicity, you can write your emaail address as your username</li>
                        </ul-->
                      </div>

                      <div class="col-12">
                        <label for="bioSex" class="form-label"
                          >Biological Sex</label
                        >
                        <select name="donor_bio_sex" class="form-control" required>
                          <option value="" disabled="disabled" selected="selected">Choose One</option>
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div>

                      <div class="col-12">
                        <label for="bloodType" class="form-label"
                          >Blood Type:
                        </label>
                          <select name="donor_blood_type" class="form-control" required>
                              <option value="" disabled="disabled" selected="selected">Choose One</option>
                              <option>O+</option>
                              <option>O-</option>
                              <option>A+</option>
                              <option>A-</option>
                              <option>B+</option>
                              <option>B-</option>
                              <option>AB+</option>
                              <option>AB-</option>
                              <option>Unknown</option>
                          </select>
                      </div>
                      <div class="col-12">
                        <label for="birthday" class="form-label">
                          Date of Birth (YYYY-MM-DD)</label>

                        {% render_field donorForm.donor_birthday|attr:'required:true' id="dob" placeholder="YYYY-MM-DD" class="form-control"   %}
                        <div id="invalidDob" class="hidden red"></div>
                      </div>

                      <div class="col-12">
                        <label for="yourHeight" class="form-label"
                          >Height</label
                        >
                        <div class="input-group has-validation">
                          {% render_field donorForm.donor_height|attr:'required:true' id="yourHeight" class="form-control"   %}
                          <span class="input-group-text" id="inputGroupPrepend"
                            >cm</span
                          >
                          <div id="invalidheight" class="hidden red"></div>
                        </div>
                      </div> 
                      <div class="col-12">
                        <label for="yourWeight" class="form-label"
                          >Weight</label
                        >
                        <div class="input-group has-validation">
                          {% render_field donorForm.donor_weight|attr:'required:true' id="yourWeight" class="form-control"   %}
                          <span class="input-group-text" id="inputGroupPrepend"
                            >kg</span
                          >
                          <div id="invalidweight" class="hidden red"></div>
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label"
                          >Password</label>

                        {% render_field userForm.password|attr:'required:true' id="yourPassword" class="form-control" type='password' %}

                        <div id="invalidPwd" class="hidden red"></div>
                        <ul>
                          <li>Must be atleast 8 characers long</li>
                          <li>Must contain atleast one letter</li>
                          <li>Must conatin atleast one digit</li>
                          <li>Must not conatin any special characters</li>
                        </ul>
                      </div>

                      <div class="col-12">
                        <label for="yourCPassword" class="form-label"
                          >Confirm Password</label
                        >
                        <input
                          type="password"
                          name="cpassword"
                          class="form-control"
                          id="yourCPassword"
                        />
                        <div id="invalidCpwd" class="hidden red"></div>
                      </div>

                      <div class="col-12">
                        <label for="yourContact" class="form-label"
                          >Contact Number </label
                        >

                        {% render_field donorForm.donor_contact_phone|attr:'required:true' id="yourContact"  placeholder="XXXXXXXXXX"  class="form-control"   %}
                        <div id="invalidcontact" class="hidden red"></div>
                      </div>

                      <div class="col-12">
                        <label for="emergencyContact" class="form-label"
                          >Emergency Contact Name</label>
                        {% render_field donorForm.emergency_contact_name|attr:'required:true' id="emergencyContact" class="form-control"   %}
                        <div id="invalidename" class="hidden red"></div>
                      </div>

                      <div class="col-12">
                        <label for="emergencyContact" class="form-label"
                          >Emergency Contact Number </label>
                        {% render_field donorForm.emergency_contact_phone|attr:'required:true' id="emergencyNumber" placeholder="XXXXXXXXXX" class="form-control"   %}
                        <div id="invalidecontact" class="hidden red"></div>
                      </div>
                      <div class="col-12">
                        <input
                          class="btn btn-primary w-100"
                          type="submit"
                          id="myBtn"
                          value="Create Account"
                        />
                      </div>
                      <div class="col-12">
                        <input
                          class="btn btn-dark w-100"
                          type="reset"
           
                          value="Reset  "
                        />
                      </div>
                      <div class="col-12">
                        <p class="small mb-0">
                          Already have an account?
                          <a href="{% url 'pages-login' %}">Log in</a>
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script> 
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>-->
    <!--<script src="assets/vendor/tinymce/tinymce.min.js"></script>-->
    <!--<script src="assets/vendor/php-email-form/validate.js"></script>-->

    <!-- Template Main JS File -->
    <!--<script src="assets/js/main.js"></script>-->
    <script src="{% static 'donor/js/event_register.js' %}"></script>
  </body>
</html>
