{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Users / Profile - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'donor/img/favicon.png' %}" rel="icon">
  <link href="{% static 'donor/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'donor/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" type= "text/css" href="{% static 'donor/css/style.css' %}">
  <link rel="stylesheet" type= "text/css" href="{% static 'donor/css/questionnaire.css' %}">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

{% include "donor_navbar.html" %}

    <title>Quiz</title>
<main id="main" class="main">
  <body>
      <div id="container">
        <div id= "warning"> These questions are to determine your simple eligibility. More advanced questions will be asked in person during your appointment. If you are not eligible, please try again at a later date</div>
        <div style="display: none" id= "success"> You are tentatively elgible to donate! Please hit continue to book your appointment! </div> 
          <div id="start">Start!</div>
          <div id="quiz" style="display: none">
              <div id="question"></div>
              <div id="choices">
                  <div class="choice" id="A" onclick="checkAnswer('A')"></div>
                  <div class="choice" id="B" onclick="checkAnswer('B')"></div>
                  <a class="nav-link failbutton" href='/donor_bookappt'>
                    <button id="continueB" style="display: none" class="green">Continue</button>
                  </a>
              </div>
          </div>
      </div>
      <script src="questionnaire.js"></script>
  </body>
  {% include "footer.html" %}
</main>
</html>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Template Main JS File -->
  <script src="{% static 'donor/js/main.js' %}"></script>
  <script src="{% static 'donor/js/questionnaire.js' %}"></script>
</html>