{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Users / Profile - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'donor/img/favicon.png' %}" rel="icon">
  <link href="{% static 'donor/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'donor/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" type= "text/css" href="{% static 'donor/css/style.css' %}">
  <link rel="stylesheet" type= "text/css" href="{% static 'donor/css/questionnaire.css' %}">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  {% include "donor_navbar.html" %}


    <title>Quiz</title>
<main id="main" class="main">
<body>
    <div id="container">
        <h1 id="fail">You are not currently eligible to donate</h1>
        <div id="failbutton">
          <a class="nav-link failbutton" href="/donor_bookappNoQ">
            <button class="red ">Return to book an appointment</button>
          </a>
        </div>
    </div>
</body>
{% include "footer.html" %}
</main>
</html>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'donor/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'donor/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'donor/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'donor/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'donor/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'donor/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'donor/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'donor/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'donor/js/editprofile.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'donor/js/main.js' %}"></script>
</body>

</html>
