{% load static %}

{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Profile </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'donor/img/favicon.png' %}" rel="icon">
  <link href="{% static 'donor/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'donor/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" type= "text/css" href="{% static 'donor/css/style.css' %}">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  {% include "donor_navbar.html" %}
 
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      
    </div><!-- End Page Title -->
    
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
          
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <h2>{{donor.donor_first_name}} {{donor.donor_last_name}} </h2>
              <h3>Donor</h3>
            </div>
          </div>
 
        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">

              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <!--h5 class="card-title">About</h5>
                  <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p-->

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_first_name}} {{donor.donor_last_name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{user.email}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Sex</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_bio_sex}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Blood Type</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_blood_type}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Birth Date</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_birthday}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Postal Code</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_postal}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Contact Number</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_contact_phone}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Height(cm)</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_height}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Weight(kg)</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_weight}}</div>
                  </div>

                  

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Emergency Conact Name</div>
                    <div class="col-lg-9 col-md-8">{{donor.emergency_contact_name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Emergency Contact Phone Number</div>
                    <div class="col-lg-9 col-md-8">{{donor.emergency_contact_phone}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="fName" class="col-md-4 col-lg-3 col-form-label">First Name*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fName" type="text" class="form-control" id="fName" value={{donor.donor_first_name}}>
                        
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="lname" class="col-md-4 col-lg-3 col-form-label">Last Name*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="lname" type="text" class="form-control"  value={{donor.donor_last_name}}>
                        
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Sex" class="col-md-4 col-lg-3 col-form-label">Sex*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="donor_bio_sex" type="text" class="form-control" id="lname" value={{donor.donor_bio_sex}}>
                        <!--form>
                          <input type="radio" id="Male" name="Sex" value="Male"  checked >
                          <label for="Male">Male</label>
                          <input type="radio" id="Female" name="Sex" value="Female"    >
                          <label for="Female">Female</label>
                        </form-->
                      </div>
                    </div>


                    <!--div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="email" value="k.anderson@example.com" >
                        <div id="emailInvalid"></div>
                      </div>
                    </div-->

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email*</label>
                      <div class="col-md-8 col-lg-9">
                      <div class="col-lg-9 col-md-8">{{user.email}}</div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Username*</label>
                      <div class="col-md-8 col-lg-9">
                      <div class="col-lg-9 col-md-8">{{user.username}}</div>
                    </div>

                    <div class="row mb-3">
                      <label for="BirthDate" class="col-md-4 col-lg-3 col-form-label">BirthDate (YYYY-MM-DD)*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="BirthDate"  class="form-control" id="BirthDate" value="{{donor.donor_birthday}}">
                        
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="BloodType" class="col-md-4 col-lg-3 col-form-label">Blood Type*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="bloodtype" type="text" class="form-control" id="" value={{donor.donor_blood_type}}>
                        <!--form>
                          <input type="radio" id="AP" name="bloodtype" value="A+"  checked >
                          <label for="A+">A+</label>
                          <input type="radio" id="AN" name="bloodtype" value="A-"    >
                          <label for="A-">A-</label>
                          <input type="radio" id="BP" name="bloodtype" value="B+"   >
                          <label for="B+">B+</label>
                          <input type="radio" id="BN" name="bloodtype" value="B-"    >
                          <label for="B-">B-</label>
                          <input type="radio" id="ABP" name="bloodtype" value="AB+"   >
                          <label for="AB+">AB+</label>
                          <input type="radio" id="ABN" name="bloodtype" value="AB-"    >
                          <label for="AB-">AB-</label>
                          <input type="radio" id="OP" name="bloodtype" value="O+"   >
                          <label for="O+">O+</label>
                          <input type="radio" id="ON" name="bloodtype" value="O-"    >
                          <label for="O-">O-</label>
                          <input type="radio" id="RHN" name="bloodtype" value="Unknown"   >
                          <label for="Unknown">Unknown</label>

                        </form-->
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Postal Code*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="address" type="text" class="form-control" id="Address" value={{donor.donor_postal}}>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Contact Phone*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="address" type="text" class="form-control" id="Address" value={{donor.donor_contact_phone}}>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Height" class="col-md-4 col-lg-3 col-form-label">Height(cm)*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Height" type="number" class="form-control" id="Height" value={{donor.donor_height}}>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Weight" class="col-md-4 col-lg-3 col-form-label">Weight(kg)*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Weight" type="number" class="form-control" id="Weight" value={{donor.donor_weight}}>
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label for="efullName" class="col-md-4 col-lg-3 col-form-label">Emergency Contact Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="efullName" type="text" class="form-control" id="efullName" value={{donor.emergency_contact_name}}>
                        <div id="enameInvalid"></div>
                      </div>
                    </div>
              
                    <div class="row mb-3">
                      <label for="ePhone" class="col-md-4 col-lg-3 col-form-label">Emergency Contact Phone Number</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="ePhone" type="number" class="form-control" id="ePhone" value={{donor.emergency_contact_phone}}>
                        <div id="phoneInvalid"></div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button id="submitB" type="submit" onclick="window.location.reload()"   class="btn btn-primary">Save Changes</button>
                      <div id="subBut"> </div>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>
                <div class="tab-pane fade pt-3" id="profile-change-password">


                  <!-- Change Password Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
    
    {% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    
      
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'donor/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'donor/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'donor/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'donor/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'donor/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'donor/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'donor/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'donor/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'donor/js/editprofile.js' %}"></script>

  <!-- Template Main JS File 
  <script src="{% static 'donor/js/editprofile.js' %}"></script>
  <script src="{% static 'donor/js/main.js' %}"></script>-->
</body>

</html>