{% load static %}

{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Profile </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'donor/img/favicon.png' %}" rel="icon">
  <link href="{% static 'donor/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'donor/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'donor/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" type= "text/css" href="{% static 'donor/css/style.css' %}">

   <!-- JS Handler file-->
   <script src="{% static 'donor/js/update.js' %}"></script>

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  {% include "donor_navbar.html" %}
 
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
    </div><!-- End Page Title -->

      {% for message in messages %}
      <!-- Table with stripped rows -->
      <div
      class="alert alert-{{message.tags}} alert-dismissible fade show"
      role="alert"
      >
      <strong>{{message}}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
                
    {% endfor %}
    
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
          
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <h2>{{donor.donor_first_name}} {{donor.donor_last_name}} </h2>
              <h3>Donor</h3>
            </div>
          </div>
 
        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">

              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_first_name}} {{donor.donor_last_name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{user.email}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Sex</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_bio_sex}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Blood Type</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_blood_type}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Birth Date</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_birthday|date:'Y-m-d'}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Postal Code</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_postal}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Contact Number</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_contact_phone}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Height(cm)</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_height}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Weight(kg)</div>
                    <div class="col-lg-9 col-md-8">{{donor.donor_weight}}</div>
                  </div>

                  

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Emergency Conact Name</div>
                    <div class="col-lg-9 col-md-8">{{donor.emergency_contact_name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Emergency Contact Phone Number</div>
                    <div class="col-lg-9 col-md-8">{{donor.emergency_contact_phone}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!------------------------- Profile Edit Form ------------------------------------------------
                  ----------------------------------------------------------------------------------------------->
                  <form id="edit-form"action="/updateProfile/{{user.id}}" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="fName" class="col-md-4 col-lg-3 col-form-label">First Name*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="donor_first_name" type="text" class="form-control" id="donor_first_name" value={{donor.donor_first_name}} required>
                        <div id="invalidfirstName" class="hidden red"></div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="lname" class="col-md-4 col-lg-3 col-form-label">Last Name*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="donor_last_name" type="text" class="form-control" id="donor_last_name"  value={{donor.donor_last_name}} required>
                        <div id="invalidlastName" class="hidden red"></div>
                      </div>
                    </div>

                    

                    <div class="row mb-3">
                      <label for="Sex" class="col-md-4 col-lg-3 col-form-label">Sex*</label>
                      <div class="col-md-8 col-lg-9">
                        <select name="donor_bio_sex" class="form-control" required>
                          {% if donor.donor_bio_sex == "Male" %}
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                          {% else %}
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>

                    
                    
                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email*</label>
                      <div class="col-md-8 col-lg-9">
                      <div class="col-lg-9 col-md-8">{{user.email}}</div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Username*</label>
                      <div class="col-md-8 col-lg-9">
                      <div class="col-lg-9 col-md-8">{{user.username}}</div>
                    </div>

                    <div class="row mb-3">
                      <label for="BirthDate" class="col-md-4 col-lg-3 col-form-label">BirthDate (YYYY-MM-DD)*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="donor_birthday"  class="form-control" id="donor_birthday" value="{{donor.donor_birthday|date:'Y-m-d'}}" required>
                        <div id="invalidDob" class="hidden red"></div>
                      </div>
                    </div>

                    
                    <div class="row mb-3">
                      <label for="BloodType" class="col-md-4 col-lg-3 col-form-label">Blood Type*</label>
                      <div class="col-md-8 col-lg-9">
                        <select name="donor_blood_type" class="form-control" required>
                          {% if donor.donor_blood_type == "A+" %}
                            <option>A+</option>
                            <option>A-</option>
                            <option>O+</option>
                            <option>O-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>AB+</option>
                            <option>AB-</option>
                            <option>Rh</option>
                            <option>Unknown</option>

                          {% elif donor.donor_blood_type == "A-"%}
                            <option>A-</option>
                            <option>A+</option>
                            <option>O+</option>
                            <option>O-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>AB+</option>
                            <option>AB-</option>
                            <option>Rh</option>
                            <option>Unknown</option>

                          {% elif donor.donor_blood_type == "O+"%}
                            <option>O+</option>
                            <option>O-</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>AB+</option>
                            <option>AB-</option>
                            <option>Rh</option>
                            <option>Unknown</option>
                          {% elif donor.donor_blood_type == "O-"%}
                            <option>O-</option>
                            <option>O+</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>AB+</option>
                            <option>AB-</option>
                            <option>Rh</option>
                            <option>Unknown</option>
                          {% elif donor.donor_blood_type == "B+"%}
                            <option>B+</option>
                            <option>B-</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>O-</option>
                            <option>O+</option>
                            <option>AB+</option>
                            <option>AB-</option>
                            <option>Rh</option>
                            <option>Unknown</option>
                          {% elif donor.donor_blood_type == "B-"%}
                            <option>B-</option>
                            <option>B+</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>O-</option>
                            <option>O+</option>
                            <option>AB+</option>
                            <option>AB-</option>
                            <option>Rh</option>
                          {% elif donor.donor_blood_type == "AB+"%}
                            <option>AB+</option>
                            <option>AB-</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>O+</option>
                            <option>O-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>Rh</option>
                            <option>Unknown</option>
                          {% elif donor.donor_blood_type == "AB-"%}
                            <option>AB-</option>
                            <option>AB+</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>O+</option>
                            <option>O-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>Rh</option>
                            <option>Unknown</option>
                          {% elif donor.donor_blood_type == "Rh"%}
                            <option>Rh</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>O+</option>
                            <option>O-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>AB+</option>
                            <option>AB-</option>
                            <option>Unknown</option>
                          {% else %}
                            <option>Unknown</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>O-</option>
                            <option>O+</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>AB+</option>
                            <option>AB-</option>
                            <option>Rh</option>
              
                          {% endif %}
                          </select>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Postal Code*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="donor_postal" type="text" class="form-control" id="donor_postal"  value="{{donor.donor_postal}}">
                        <div id="invalidpc" class="hidden red"></div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Contact Phone*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="donor_contact_phone" type="number" class="form-control" id="Address" value={{donor.donor_contact_phone}} required>
                        <div id="invalidcontact" class="hidden red"></div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Height" class="col-md-4 col-lg-3 col-form-label">Height(cm)*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="donor_height" type="number" class="form-control" id="donor_height" value={{donor.donor_height}} required>
                        <div id="invalidheight" class="hidden red"></div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Weight" class="col-md-4 col-lg-3 col-form-label">Weight(kg)*</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="donor_weight" type="number" class="form-control" id="donor_weight" value={{donor.donor_weight}} required>
                        <div id="invalidweight" class="hidden red"></div>
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label for="efullName" class="col-md-4 col-lg-3 col-form-label">Emergency Contact Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="emergency_contact_name" type="text" class="form-control" id="emergency_contact_name" value={{donor.emergency_contact_name}} required>
                        <div id="invalidename" class="hidden red"></div>
                      </div>
                    </div>
              
                    <div class="row mb-3">
                      <label for="ePhone" class="col-md-4 col-lg-3 col-form-label">Emergency Contact Phone Number</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="emergency_contact_phone" type="number" class="form-control" id="emergency_contact_phone" value={{donor.emergency_contact_phone}} required>
                        <div id="invalidecontact" class="hidden red"></div>
                      </div>
                    </div>

                   
                    <div class="col-12">
                      <button
                        class="btn btn-primary w-100"
                        type="submit"
                        id="myBtn"
                        >
                        Save Changes
                      </button>
                      
                    </div>
                  </form><!-- End Profile Edit Form -->


              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
    
    {% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    
      
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'donor/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'donor/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'donor/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'donor/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'donor/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'donor/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'donor/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'donor/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'donor/js/editprofile.js' %}"></script>

  <!-- Template Main JS File
  <script src="{% static 'donor/js/editprofile.js' %}"></script>
  <script src="{% static 'donor/js/main.js' %}"></script> -->
  <script src="{% static 'donor/js/update_profile.js' %}"></script>

</body>

</html>